<div ng-controller="AuthbarCtrl">
  <div class="row" ng-if="isAuthenticated()">
    <div id="barsvisited" class="col s3" ng-controller="BarsVisitedCtrl">
      <h5> Bars Visited </h5>
      <ul class="collection">
        <li class="collection-item avatar" ng-repeat="data in data"> 
            <img src="{{ data.picture }}" alt="" class="circle">
            <span class="title">{{ data.bar }}</span>
            <!-- <p> First Line <br> Second thing </p> -->
            <a href="#!" class="secondary-content"><i class="small material-icons target">my_location</i><i class="material-icons star">grade</i></a>
        </li>
      </ul>
    </div>
  </div>
</div>


