<div class="container" ng-app="divestop.add">
  <h4>Dive Site</h4>

  <div class="row addSiteForm" ng-controller="AddSiteController as form">
    <form name="addSite" class="addSite">

    <div class="input-field">
      <input id="site-name" type="text" required ng-model="form.site.name" />
      <label for="site-name">Dive Site Name</label>
    </div>

    <div class="input-field">
      <input id="address" type="text" required ng-model="form.site.address" />
      <label for="address"> Where Are We Going Diving? (Address)</label>
    </div>


    <div class="row thumbs">
      <!-- <div class="input-field col s12 m4">
        <input id="depth" type="text" required ng-model="form.site.maxDepth">
        <label for="depth">Address </label>
      </div> -->

      <div class="input-field col s12 m4">
        <input type="text" disabled required ng-model="form.site.coordinates.lat" placeholder="Click Map!">
        <label class="active">Latitude</label>
      </div>
      <div class="input-field col s12 m4">
        <input type="text" disabled required ng-model="form.site.coordinates.lng" placeholder="Click Map!">
        <label class="active">Longitude</label>
      </div>
      <div class="input-field col s12 m4">
        <ul class="thumbs">
          <div> Rate The Dive </div>
          <li  ng-class="{thumb_up: thumbUpClick}"><i ng-click="thumbUp()" class="medium material-icons thumb">thumb_up</i></li>
          <li ng-class="{thumb_down: thumbDownClick}"><i  ng-click="thumbDown()" class="medium material-icons thumb">thumb_down</i></li>
        </ul>
      </div>
    </div>

    
    <div class="row">
      <div class="file-field input-field col m11 s10">
        <div class="btn">
          <span>Upload Photo</span>
          <input type="file" fileread="form.newPhoto">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" ng-model="form.filePath">
        </div>
      </div>
      <div class="col m1 s2">
        <a class="btn-floating" ng-click="form.addPhoto()">
        <i class="material-icons">add</i></a>
      </div>
    </div>

    <div class="row">
      <div ng-repeat="photo in form.site.photos track by $index" class="col s6 m2">
        <img class="responsive-img" ng-src="{{photo}}" alt="" ng-click="form.removePhoto($index)">
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" ng-click="form.addSite()" ng-disabled="addSite.$invalid" >Add Site</button>
    </form>
  </div>
</div>
