<!-- <div class="container">
  <div class="row" id="siteInformation" ng-controller="DiveSiteController" ng-show="isSiteAvailable() && !showForm.state" ng-include src="templateUrl">
    <div class="col m8 s12">
      <h3> Dive Site </h3>
      <h4>{{currentSite.site.name}}</h2>
    <p>{{currentSite.site.description}}</p>
    </div>
    <div class="col m4 s12">
      <div class="card-panel blue-grey lighten-2">
        <h6>Maximum Depth:</h6>
        <div>{{currentSite.site.maxDepth}} meters</div>
        <h6>Aquatic Life:</h6>
        <div class="chip" ng-repeat="life in currentSite.site.aquaticLife">{{life}}</div>
        <h6>Features:</h6>
        <div class="chip" ng-repeat="feature in currentSite.site.features">{{feature}}</div>
      </div>
    </div>
    <div ng-repeat="picture in currentSite.site.pictures" class="col s12 m6 l4">
      <img class="responsive-img" ng-src="{{picture}}" alt="">
    </div>
  </div>
</div> -->


<div class="diveList" ng-controller="DiveSiteController">
  <map id="map-canvas" center="37.773972, -122.431297" zoom="14" on-click="moveNewMarker()" scrollwheel="false"></map>

   <div class="addDiveSite">
    <a ng-show="!toggle" ng-click="toggleMe()" class="right btn waves-effect waves-light submit">Add Dive Site</a>
    <a ng-show="toggle" ng-click="toggleMe()" class="right btn waves-effect waves-light submit">See Nearby Dives</a>
  </div>
  <div class="nearby">
    <h4>Nearby Dives</h4>
    <div class="searchNormal" ng-controller="SearchController">
      <nav>
        <div class="nav-wrapper">
        <form ng-submit='geocodeAddress(data.address)'>
          <div class="input-field blue-grey lighten-2">
            <input id="search" type="search" ng-model="data.address" placeholder="Where you trying to go bruh?">
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
        </div>
      </nav>
    </div>
     <div class="row" ng-repeat="bar in bars">
      <div class="col s12">
        <ul class="diveListing">
          <li><img ng-src="{{bar.picture || 'http://placehold.it/100x100'}}" />
          <li><h5>{{ bar.site }}</h5><small>{{ bar.address }}</small></li>
          <li><span class="btn submit"><i class="material-icons">done</i></span></li>
          <li><span class="btn submit"><i class="material-icons">stars</i></span></li>
        </ul>
      </div>
     </div>
  </div>
</div>
